* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    height: 100vh;
    max-height: 100%;
    width: 100vw;
    max-width: 100%;
    background-color: lightgray;
    position: static;
}

#menu-bar {
    width: 100%;
    height: 50px;
}

#chat-main {
    display: flex;
}

#message-container {
    flex-grow: 1;   
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
}

#message-list-container {
    flex-grow: 1;
    overflow-y: scroll;
}

#rooms {
    min-width: 200px;
}

#send-message {
    display: flex;
    min-width: 100%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#send-message input {
    flex-grow: 1;
}