attrs==21.4.0
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==36.0.2
honeycomb-beeline==3.0.0
hypothesis==6.34.2
idna==3.3
iniconfig==1.1.1
libhoney==2.1.0
msgpack==1.0.3
packaging==21.3
pluggy==1.0.0
py==1.11.0
py-cpuinfo==8.0.0
pycparser==2.21
pyparsing==3.0.9
pytest==6.2.5
pytest-benchmark==3.4.1
python-dateutil==2.8.2
PyYAML==6.0
requests==2.28.0
simplejson==3.17.6
six==1.16.0
sortedcontainers==2.4.0
statsd==3.3.0
symbiont-io.assembly-client~=3.1.0.dev6
symbiont-io.pytest-assembly~=3.1.0.dev6
toml==0.10.2
urllib3==1.26.9
wrapt==1.14.1
